appnope
asttokens
attrs
backcall
beautifulsoup4
bleach
certifi
charset-normalizer
decorator
defusedxml
docopt
executing
fastjsonschema
halo
idna
ipython
jedi
Jinja2
jsonschema
jsonschema-specifications
jupyter_client
jupyter_core
jupyterlab_pygments
MarkupSafe
matplotlib-inline
mistune
nbclient
nbconvert
nbformat
packaging
pandocfilters
parso
pexpect
pickleshare
pipreqs
platformdirs
prompt_toolkit
ptyprocess
pure_eval
pycentral
Pygments
python-dateutil
PyYAML
pyzmq
referencing
requests
rpds-py
six
soupsieve
stack-data
tinycss2
tools_rwilliams01123 @ git+ssh://git@github.com/rwilliams01123/tools_rwilliams01123
tornado
traitlets
typing_extensions
urllib3
wcwidth
webencodings
yarg
